

<div class="card w-50 text-center mx-auto">
   <div class="card-header text-center">
      <h2>Sign up</h2>
  </div>

  <div class="card-body">

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group"> 
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder:"Email" %>
  </div>

  <br/>

  <div class="field form-group"> 
    <%= f.password_field :password, autocomplete: "new-password",class:"form-control", placeholder:"Password" %>
  </div>

  <br/>

  <div class="field form-group">    
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder:"Password Confirmation" %>
  </div>

  <br/>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div> 

<% end %> 
  <br/> 
  <%= render "devise/shared/links" %>

</div>


