<%= stylesheet_link_tag "items" %>

<div class="container-fluid mx-auto text-center m-1"> 
<div class="row my-3"></div>
<div class="row">
        <div class="col"></div>
        <div class="col-10 div.ex2">

            <%= current_user.id %>>
           <h1 class="">Items</h1>
                <table class="table table-bordered w-500">
                <thead >
                <tr>
                <th>Name</th>
                <th>Weight</th>
                <th>Value</th>
                <th>Avaiable</th>
                <th>Durl</th>
                <th>Ean</th>
                <th>Offer</th>
                <th>Buy limit</th>
                <th>User Id</th>
                <th>Section</th>
                <th colspan="3"></th>
                </tr>
                </thead>

                <tbody>
                <% @items.each do |item| %>
                <tr>
                <td><%= item.name %></td>
                <td><%= item.weight %></td>
                <td><%= item.value %></td>


                <% if item.avaiable %>
                <td class="table-success"><%= item.avaiable %></td>
                <% else %>
                <td class="table-danger"><%= item.avaiable %></td>
                <% end %>





                <td><%= item.durl %></td>
                <td><%= item.ean %></td>

                <% if item.offer %>
                <td class="table-success"><%= item.offer %></td>
                <% else %>
                <td><%= item.offer %></td>
                <% end %>

                <td><%= item.buy_limit %></td>
                 <td><%= item.user_id %></td>
                <td><%= item.section %></td>

                <td><%= link_to 'Show', item %></td>
                <td><%= link_to 'Edit', edit_item_path(item) %></td>
                <td><%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                </tr>
                <% end %>
                </tbody>
                </table>
                <%= link_to 'ADICIONAR ITEM', new_item_path, class:"btn btn-secondary" %>
        </div>
        <div class="col"></div> 
</div>
</div>
