<%= stylesheet_link_tag "items" %>
                

<div class="tableContainer"> 
        <div>  
                <div>
                <h1>Items</h1>
                </div>

                <div>
                <% products = @items.as_json %>
                <%= react_component("table/Table", {products: products}) %>
                </div>




                
                <div>
                <table class="table table-bordered tableLayout">
                                <thead class="tbodyandhead">
                                        <tr>
                                        <% item = @items.first  %> 
                                        <% if item  %> 
                                        <% item.attributes.each do |attr_name, attr_value| %> 
                                        <th><%= attr_name %></th>
                                        <% end %>
                                        <% end %>                                        
                                        </tr>
                                </thead>

                                <tbody class="tbodyandhead">

                                        <% @items.each do |item| %>

                                        <tr>

                                        <% item.attributes.each do |attr_name, attr_value| %> 
                                        <% td_size = 100 / item.attributes.count  %>
                                        
                                        <!-- 
                                        ###Se quiser deixar a linha inteira vermelha, utilizar esse loop
                                        <% if item.available and item.offer %>
                                        <td class="table-success"><%= attr_value %></td>
                                        <% else   %>
                                        <td class="table-danger"><%= attr_value %></td>
                                        <% end %>   
                                        -->


                                        <% if attr_name === "durl" %>
                                        <td   class="table-success "><p>Imagem</p></td>
                                        <% elsif attr_value === false %>
                                        <td   class="table-danger "><%= attr_value %></td>
                                        <% else   %>
                                        <td   class="table-success "><%= attr_value %></td>
                                        <% end %>  
                                        <% end %>
                                        <td><%= link_to 'Edit', edit_item_path(item) %></td>
                                
                                        </tr>
                                        <% end %>

                                </tbody>
                </table>
                <%= link_to 'ADICIONAR ITEM', new_item_path, class:"btn btn-secondary" %>
                </div>

        </div>  

</div>





