<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-5 py-1">     
      
      <a class="letters navbar-brand" href="/">DIANA</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
      </button> 

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">         

        <li class="nav-item">      
        <%= link_to 'Quem somos', home_about_path, class:"nav-link"%>        
        </li>

        <% if store_user_signed_in? %>

        <li class="nav-item">
          <%= link_to 'Tabela de Items', items_path, class:"nav-link"%>
        </li>

         <li class="nav-item">
          <%= link_to 'Pedidos',  class:"nav-link"%>
        </li>


          <li class="nav-item">
          <%= link_to 'Sair', destroy_store_user_session_path, method: :delete, class:"nav-link"%>
        </li>

        <% else %>
  

        <li class="nav-item">
      <%= link_to 'Cadastrar', new_store_user_registration_path, class:"nav-link"%>        
        </li> 

        <li class="nav-item">
      <%= link_to 'Entrar', new_store_user_session_path, class:"nav-link"%>        
        </li>

        <% end %>

 

      </ul>

      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Procurar..." aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>



 
</nav>